body {
	border-style: none;
	background-color: #C3809B;
	height: 100%;
	width: 310px;
}

p {
	font-size: 16px;
}

h1 {
	color: #490415;
}

.t {
	color: #490415;
	font-family: 'Open Sans', sans-serif;
}

.buttonContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.buttonInContainer {
  color: white;
  text-align: center;
}

.fadingButton {
	background-color: #542538;
	border-radius: 10px;
	border: none;
	color: #C3809B;
	padding: 8px 16px;
	text-align: center;
	font-size: 12px;
	margin: 4px 2px;
	transition: 0.4s;
	height: 75%;
	width: 95%;
}

.fadingButton:hover {
  background-color: #000000;
  color: white;
}

#goBackButton:hover {
	-webkit-filter: invert(1);
	filter: invert(1);
	transition: 0.3s;
}