@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
	font-family: "Noto Sans JP", sans;
	border-style: none;
	background-color: #F5F5FF;
	height: 100%;
	width: 310px;
}

p {
	font-size: 16px;
}



.fadingButton {
	background-color: #F5F5FF;
	border-radius: 10px;
	border-color: #A5A5AA;
	color: #000000;
	padding: 8px 16px;
	text-align: center;
	font-size: 12px;
	margin: 4px 2px;
	transition: 0.4s;
	height: 75%;
	width: 95%;
}

.fadingButton:hover {
  background-color: #000000;
  color: white;
}

#goBackButtonColoured {
	display: none;
}

#goBackButtonColoured:hover {
	display: block;
	transition: 0.3s;
}

#goBackButton:hover + #goBackButtonColoured { display: block; transition: 0.3s; }

#goBackButton:hover {

	transition: 0.3s;
	display: none;
}
